@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,600);

body {
	font-family: 'Open Sans';
	background-color: #f4f4f4;
}

.container {
}

.navbar {
	background-color: transparent;
	margin-bottom: 0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #999;
	background-color: transparent;
}

.img-circle {
	border: 5px solid #d1d1d1;
	margin-bottom: 15px;
}

.slick-slider {
	margin-bottom: 0;
}

.countries {
	padding-top: 15px;
}
.countries .col-lg-3 {
	text-align: center;
}

.slides {
	margin-bottom: 0;
}
.slides section {
	height: 550px;
	background-size: cover;
}
.slides h1 {
	color: #fff;
	font-size: 48px;
	font-weight: 300;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 150px;
}

footer {
	/*margin-top: 10px;*/
	font-size: 12px;
	text-align: center;
}
footer p {
	color: #999;
	line-height: 60px;
	margin: 0;
	padding: 0;
}
footer a {
	color: #666;
}