@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,600);

body {
	font-family: 'Open Sans';
	background-color: #d6d6d6;
}

.navbar {
	background-color: #fff;
	margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #999;
	font-size: 19px;
	font-weight: 300;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #888;
}

.slick-slider {
	margin-bottom: 0;
}

.countries-wrapper {
	background-color: #e6e6e6;
}
.countries .col-sm-3 {
	text-align: center;
}
.countries img {
	/*width: 50%;*/
	/*height: 100px;*/
	margin: 30px 0;
}

.slides {
	margin-bottom: 0;
}
.slides section {
	height: 700px;
	background-size: cover;
}
.slides h1 {
	color: #fff;
	font-size: 48px;
	font-weight: 300;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 150px;
}

footer {
	font-size: 12px;
	text-align: center;
}
footer p {
	color: #999;
	line-height: 50px;
	margin: 0;
	padding: 0;
}
footer a {
	color: #999;
	font-weight: 600;
}